body
{
	background-color: rgb(202,204,203);
	background-image: url(mirageIso.jpg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: rgb(221,140,85);
	background-attachment: fixed;
	background-position: center center;
}
p
{
	font-size:1.2em;
	font-family:Georgia, Serif;
}
p.header
{
	font-size:2.4em;
	font-family:"Times New Roman", Serif;
	left:12px;
}
a
{
	
	color: #000099;
	
}
a:hover
{
	background-color:#000099;
	color:#99ccff;
}
